<section id="order-display">
  {{#if orders.length}}
    {{#each orders}}
    <div class="table-responsive">
      <table class="table table-hover mt-5">
        <thead class="thead-dark">
          <tr>
            <th colspan="12">{{purchaseDate}}</th>
          </tr>
        </thead>
        <thead class="thead-light text-center">
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Extended</th>
            <th>Base Year</th>
            <th>Base Month</th>
            <th>Extension Price</th>
            <th>Extension Year</th>
            <th>Extension Month</th>
            <th>Remaining Years</th>
            <th>Remaining Months</th>
            <th>Remaining Days</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="text-center">
          {{#each items}}
            <tr>
              <td>{{prodName}}</td>
              <td>{{quantity}}</td>
              {{#if extended}}
              <td><i class="bi bi-check-lg" style="color: green;"></i></td>
              {{else}}
              {{#if isExtendable}}
              <td><i class="bi bi-x-lg" style="color: red;"></i></td>
              {{else}}
              <td><i class="bi bi-dash-lg"></i></td>
              {{/if}}
              {{/if}}
              <td>{{warrDuration.year}}</td>
              <td>{{warrDuration.month}}</td>
              {{#if extendPrice}}
              <td>{{extendPrice}}</td>
              {{else}}
              <td><i class="bi bi-dash-lg"></i></td>
              {{/if}}
              <td>{{extendDur.year}}</td>
              <td>{{extendDur.month}}</td>
              {{!-- {{#if extended}}
              <td>{{remainingTime.years}}</td>
              <td>{{remainingTime.months}}</td>
              <td>{{remainingTime.days}}</td>
              <td style="border: none;"><button class="btn btn-warning" disabled>Extend</button></td>
              {{else}}
              {{#if expired}}
              <td colspan="3" style="text-align: center;">{{remainingTime}}</td>
              <td style="border: none;"><button class="btn btn-warning" disabled>Extend</button></td>
              {{else}}
              {{#if isExtendable}}
              <td>{{remainingTime.years}}</td>
              <td>{{remainingTime.months}}</td>
              <td>{{remainingTime.days}}</td>
              <td style="border: none;"><a href="/order/{{../_id}}&{{@index}}"><button class="btn btn-warning">Extend</button></a></td>
              {{else}}
              <td>{{remainingTime.years}}</td>
              <td>{{remainingTime.months}}</td>
              <td>{{remainingTime.days}}</td>
              <td style="border: none;"><button class="btn btn-warning" disabled>Extend</button></td>
              {{/if}}
              {{/if}}
              {{/if}} --}}
              {{#if noWarr}}
                <td colspan="3" class="bg-danger" style="text-align: center; color: white;">No Warranty</td>
              {{else}}
              {{#if expired}}
              <td colspan="3" class="bg-danger" style="text-align: center;color: white;">{{remainingTime}}</td>
              <td></td>
              {{else}}
              {{#if extended}}
              <td>{{remainingTime.years}}</td>
              <td>{{remainingTime.months}}</td>
              <td>{{remainingTime.days}}</td>
              <td></td>
              {{else}}
              {{#if isExtendable}}
              <td>{{remainingTime.years}}</td>
              <td>{{remainingTime.months}}</td>
              <td>{{remainingTime.days}}</td>
              <td style="border: none;"><a href="/order/{{../_id}}&{{@index}}" style="text-decoration: none;color:inherit;"><button class="btn btn-warning">Extend</button></a></td>
              {{else}}
              <td>{{remainingTime.years}}</td>
              <td>{{remainingTime.months}}</td>
              <td>{{remainingTime.days}}</td>
              <td></td>
              {{/if}}
              {{/if}}
              {{/if}}
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
    {{/each}}
  {{else}}
  <h1>No Orders</h1>
  {{/if}}
</section>